__pycache__/
.pycache/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/

.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/

build/
dist/
*.egg-info/

.env

.DS_Store

.idea/

secrets/

dataset/

artifacts/